
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;

  background: url(/images/bg.tile.jpg);
  color: #222;
}

a {
  color: #DC6464;
}

a:hover {
  color: #DC3838;
}

#container {
  width: 600px;
  margin:0 auto;
  padding:0 3em;

  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 25px;
  padding: 20px 0 10px;
  border-bottom: 1px solid #bbb;
}

h1 a {
  color: #222;
  text-decoration: none;
}

h1 a:hover {
  color: #222;
  text-decoration: underline;
}

h1 span {
  font-size: 35px;
  letter-spacing: 2px;
  color: #B90101;
}

#filter {
  text-align: center;
  padding: 15px 0 15px;
}

#filter > p {
  margin: 0 auto 20px;
  width: 570px;
  text-align: left;
}

html, body, #container { height: 100%; }
#container { height: auto; min-height: 100%; }
#content { padding: 15px 0; }

input {
  font-size: 18px;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica;

  width:450px;
  padding: 8px 14px 9px;
  color:#666;

  border-radius: 3px;
  border: 1px solid #ccc;

  box-shadow: 0 0 2px #ddd inset;
  outline: none;
}

.entry {
  position: relative;
  margin: 10px;

  border: 1px solid #ddd;
  background: white;
  box-shadow: 0 0 2px #ccc inset;

  text-align: left;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.entry > * {
  padding: 10px;
}

.entry > h2 {
  margin: 0;
  padding: 5px 10px;
  height: 18px;

  font-weight: 200;
  font-size: 16px;
  border-bottom: 1px solid #ccc;

  color: #444;
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  border-radius: 4px 4px 0 0;
}

.entry > a {
  text-decoration: none;
}

.id {
  float: left;

  margin: 0 6px 0 0;
  padding: 5px 8px;
  height: 18px;

  font-weight: 200;

  display: inline-block;
  color: #333;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  border: none;
  overflow: visible;
  cursor: pointer;
  border-right: 1px solid #c1c1c1;
  background-image: -webkit-linear-gradient(top, #e1e1e1, #d1d1d1);
  border-radius: 3px 0 0 0;
}

.id:hover {
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.30);
  border-color: #629ED9;
  background: #83B9EE;
  background: -webkit-gradient(linear, left top, left bottom, from(#83B9EE), to(#629ED9));
}

.version {
  display: inline-block;

  opacity: 0;
  visibility: none;

  -webkit-transition: opacity 0.2s ease-in-out;

  position: absolute;
  top: 3px; right: 3px;

  margin: 0;
  padding: 1px 6px 2px;

  border: 1px solid #bbb;
  border-radius: 2px;

  color: #333;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  overflow: visible;
  background-image: -webkit-linear-gradient(top, #e1e1e1, #d1d1d1);

  box-shadow: 0 0 2px #ccc inset;
}

.entry:hover .version {
  opacity: 1;
  visibility: visible;
}

.message {
  margin: 2px 0;
}

footer {
  display: block;
  padding: 0 10px 20px;
  margin: 0 auto 5px;
  color: #333;
  text-shadow: #fff 0 1px 1px;
  overflow: hidden;
  font-size: 12px;
  border-top: 1px solid #bbb;
}
footer > * {
  margin-top: 5px;
}
footer p {
  float: left;
  text-align: center;
  font-weight: 200;
}
footer ul {
  float: right;
}
footer ul li {
  float: left;
  list-style: none;
}
footer ul li:first-child {
  padding-right: 5px;
}
footer ul li span {
  display: inline-block;
  padding: 0 3px;
}
